.grid {
  display: inline-grid;
  grid-template-rows: repeat(100, 1fr);
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 1.25px;

  --cell-size: 5px;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
}

.alive {
  background: black;
}